@import '../mixins';
@import '../colors';

.container {
  padding: 24px 16px 56px;
  font-size: 12px;
  font-weight: 600;

  @include onTablet() {
    padding: 40px 24px 64px;
  }

  @include onDesktop() {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 32px;
    padding-bottom: 80px;
  }
}
