@import '../mixins';
@import '../colors';

.container {
  box-sizing: border-box;
  padding: 24px 16px 56px;
  font-size: 12px;
  font-weight: 600;
  min-width: 320px;

  @include onTablet() {
    padding: 24px 24px 64px;
  }

  @include onDesktop() {
    box-sizing: content-box;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 32px;
    padding-bottom: 80px;
  }
}
