@import '../../../../App.module.scss';

@mixin displayPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  position: sticky;
  width: 100%;
  right: 0;
  top: 0;
  height: 48px;
  gap: 16px;
  @include displayPosition;
  background-color: $color__white;
  border-bottom: 1px solid $color__elements;
  // overflow: hidden;
  @include onDesktop {
    height: 64px;
    gap: 24px;
  }
}

.logo {
  margin: 14px 16px;
  @include hoverEffect(transform, scale(1.2));

  @include onDesktop {
    margin: 19px 24px;
  }
}

.navbar {
  height: 100%;
  @include displayPosition;

  @include onTablet {
    gap: 32px;
  }

  @include onDesktop {
    gap: 64px;
  }
}

.page {
  text-decoration: none;
  color: $color__secondary;
  @include displayPosition;
}

.pageName {
  display: none;

  &:hover {
    text-shadow: 1px 2px 2px $color__hover-and-bg;
  }

  @include onTablet {
    @include pageNamePosition;
    @include hoverEffect(transform, scale(1.1));
  }

  @include onDesktop {
    height: 100%;
    @include pageNamePosition;
    @include hoverEffect(transform, scale(1.1));
  }
}

.buttonWrapper {
  width: 100%;
  @include displayPosition;
  justify-content: flex-end;
}

.fullscreen {
  display: none;
  border-left: 1px solid $color__elements;

  @include onTablet {
    display: block;
    width: 48px;
  }

  @include onDesktop {
    display: block;
    width: 64px;
  }
}

.mobile {
  width: 48px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid $color__elements;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}

.wrapper {
  height: 100%;
  padding: 0;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  @include displayPosition;
  @include hoverEffect(transform, scale(1.2));
}

.favourites {
  background-image: url(../../../../static/icons/Favourites_Heart.svg);
}

.cart {
  background-image: url(../../../../static/icons/Shopping_bag_Cart.svg);
}

.active {
  box-sizing: border-box;
  color: $color__primary;
  transition: all 0.5s ease-in-out;
  border-bottom: 3px solid $color__primary;
}
