@import '../../../../App.module.scss';

.bannerSection {
  box-sizing: content-box;
  min-width: 320px;
  padding-top: 24px;

  @include onTablet {
    height: 221px;
    padding: 32px 0 24px;
  }

  @include onDesktop {
    height: 432px;
    padding: 56px 0 32px;
  }
}
