@import './../../../../App.module.scss';

.topLine {
  display: block;
  height: 1px;
  background-color: $color__elements;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  color: $color__secondary;
  font-size: 12px;
  font-weight: 700;

  @include onTablet {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footerLogo {
  width: 89px;
  height: 32px;
}

.footerNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  @include onTablet {
    margin: 10.5px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footerNavLink {
  color: $color__secondary;
  text-decoration: none;
  font-weight: 800;
  transition: color 0.3s ease;

  &:hover {
    color: darken($color__secondary, 30%);
  }
}

.footerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.circleWithChevrone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $color__primary;
  border: 1px solid $color__secondary;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color__elements;
  }
}

