@import './../../App.module.scss';

.loading {
  display: flex;
  flex-direction: column; /* Змінено напрямок на колонку для відображення тексту під картинкою */
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.loadingIcon {
  align-self: center;
  height: 80px;
  animation: rotate 10s linear infinite;
}

.loadingText {
  color: $color__primary;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  margin-top: 30px;

  &:hover {
    color: $color__accent;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productPage {
  position: relative;
  margin: 16px 16px 56px;
  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 600;

  @include onTablet {
    margin: 16px 24px 64px;
  }

  @include onDesktop {
    padding-inline: 24px;
    margin: 16px auto 81px;
    max-width: 1200px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
  }
}

.homeIcon {
  background-image: url(../../static/icons/Home.svg);
  width: 16px;
  height: 16px;
}

.iconNext {
  background-image: url(../../static/icons/Chevron_Arrow_Right.svg);
  width: 16px;
  height: 16px;
}

.iconBack {
  background-image: url(../../static/icons/Chevron_Arrow_Left.svg);
  width: 16px;
  height: 16px;
  filter: brightness(0);
}

.prevStep {
  color: $color__primary;
  text-decoration: none;
  transition: color 0.3s ease;
}

.step {
  color: $color__secondary;
  text-decoration: none;
  transition: color 0.3s ease;
}

.step:hover {
  color: $color__primary;
}

.backButtonContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

.backButton {
  background-color: transparent;
  border: none;
  color: $color__secondary;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 700;
  line-height: 16px;
}

.backButton:hover {
  color: $color__primary;
}

.mainHeader {
  font-size: 22px;
  line-height: 30.8px;
  font-weight: 800;
  margin-bottom: 32px;

  @include onTablet {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 40px;
  }
}

.techInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 56px;
}

.techInfoParametr {
  display: flex;
  justify-content: space-between;
}

.articlesBlock {
  @include onDesktop {
    display: flex;
    gap: 64px;
  }
}

.aboutArticle {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 56px;

  @include onDesktop {
    width: 560px;
  }
}

.articleHeader {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;

  @include onTablet {
    font-size: 22px;
    font-weight: 800;
  }
}

.articleLine {
  height: 1px;
  background-color: $color__secondary;
}

.aboutSectionHeader {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;

  @include onTablet {
    font-size: 20px;
  }
}

.aboutSectionText {
  font-size: 14px;
  line-height: 21px;
  color: $color__secondary;

  @include onDesktop {
    font-weight: 500;
  }
}

.techSpecsArticle {
  @include onDesktop {
    width: 530px;
  }
}

.techSpecsContainer {
  margin-bottom: 30px;
}

.techSpecsKey {
  font-size: 14px;
  font-weight: 500;
  color: $color__secondary;
}

.techSpecsValue {
  font-size: 14px;
  font-weight: 600;
}

.cards {
  display: block;
  height: 439px;
  margin-right: 0;
  margin-bottom: 56px;
  background-color: burlywood;
}
