@import '../../App.module.scss';

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid $color__elements;
  border-radius: 8px;
  padding: 32px;
  gap: 8px;
  min-width: 288px;
  max-width: fit-content;
  margin-inline: auto;
}

.title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 8px;

  @include onTablet {
    font-size: 22px;
  }
}