@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.selectWrapper {
  display: flex;
  flex-direction: column;
}

.select {
  width: 136px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid $color__icons;
  background-color: $color__hover-and-bg;
  padding-inline: 12px;

  @include onTablet {
    width: 187px;
  }

  @include onDesktop {
    width: 176px;
  }

  &:hover {
    border-color: $color__secondary;
  }

  &:focus {
    border-color: $color__primary;
    outline: none;
  }
}

.selectLabel {
  color: $color__secondary;
  font-weight: 700;
  margin-bottom: 4px;
}