@import '../../App.module.scss';

.container {
  padding: 24px 0 8px;

  section {
    padding-bottom: 56px;

    @include onTablet {
      padding-left: 24px;
      padding-bottom: 64px;
    }

    @include onDesktop {
      padding-inline: 32px;
      padding-bottom: 80px;
    }
  }
}

.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  padding: 0 16px 24px;
  letter-spacing: -1%;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
    padding: 32px 24px;
  }

  @include onDesktop {
    padding: 16px 32px 56px;
  }
}
