@import '../../../../App.module.scss';

.categoriesSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 16px;

  @include onDesktop {
    max-width: 1200px;
  }
}

.blockName {
  @include sectionName;
}

.blockWrapper {
  // width: 100%;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // flex-shrink: calc(1.1);
  gap: 32px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }
}

.categoryBlock {
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  text-decoration: none;
}

.categoryTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.56px;
  color: $color__primary;
}

.categoryAmount {
  @include amount(0, 0);
}

.categoryImgContainer {
  // width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.categoryImg {
  // min-width: 187px;
  // max-width: 368px;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
