@import '../../../styles/colors';
@import '../../../styles/reset.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/typography.scss';

.cartItem {
  margin-top: 16px;
  border: 1px solid $color__elements;
  border-radius: 16px;
  padding: 16px;

  @include onTablet {
    gap: 24px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
  }
}

.firstRow {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 16px;

  @include onTablet {
    gap: 24px;
  }
}

.cartItemIconClose {
  object-fit: cover;
  margin-block: 34px;
  filter: invert(96%) sepia(1%) saturate(7423%) hue-rotate(183deg)
    brightness(81%) contrast(88%);
  cursor: pointer;
  transition: all 0.5s;
  transform: rotate(0deg) scale(1);

  &:hover {
    filter: invert(0%) sepia(1%) saturate(7423%) hue-rotate(183deg)
      brightness(106%) contrast(106%);
    transform: rotate(180deg) scale(1.75);
  }

  &:active {
    filter: invert(96%) sepia(1%) saturate(7423%) hue-rotate(183deg)
      brightness(81%) contrast(88%);
  }
}

.cartItemButtonClose {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color__white;
  border: none;
  width: 16px;
  height: 16px;
}

.cartItemImageContainer {
  padding: 7px;
}

.cartItemImage {
  height: 66px;
  object-fit: scale-down;
}

.cartItemName {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $color__primary;
}

.secondRow {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include onTablet {
    gap: 24px;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96px;
}

.cartButtonMinusPlus {
  border: 1px solid $color__icons;
  border-radius: 48px;
  background-color: $color__white;
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    border-color: $color__primary;
  }

  &:active {
    background-color: $color__primary;
  }
}

.cartButtonMinusDisabled {
  border-radius: 48px;
  border: 1px solid $color__elements;
  background-color: $color__white;
  height: 32px;
  width: 32px;
  flex-shrink: 0;
}

.cartIconMinusPlus {
  display: block;
  padding: 8px;
  margin: -8px -8px -8px -6.8px;
  transition: all .5s;

  &:active {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg)
      brightness(102%) contrast(105%);
  }
}

.cartIconMinusDisabled {
  display: block;
  padding: 8px;
  margin: -8px -8px -8px -6.8px;
  filter: invert(97%) sepia(4%) saturate(170%) hue-rotate(165deg) brightness(92%) contrast(100%);
}

.cartItemQuantity {
  color: $color__primary;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.cartItemPrice {
  color: $color__primary;
  font-size: 22px;
  font-weight: 800;
  line-height: 140%;

  @include onTablet {
    width: 80px;
    text-align: right;
  }
}
