// Utils
@import './styles/reset';
@import './styles/typography';
@import './styles/colors';

// Blocks
@import './styles/blocks/container';
@import './styles/blocks/grid';
@import './styles/blocks/page';

:root {
  font-family: 'Mont', sans-serif;
  scroll-behavior: smooth;
  background-color: $color__hover-and-bg;
}
