.black {
  background-color: black;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: rgb(243, 239, 239);
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.spacegray {
  background-color: #717378;
}

.midnightgreen {
  background-color: #28372a;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}
