@import '../../styles//blocks/grid';
@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/mixins';

.main {
  padding: 15px 15px 60px;

  @include onTablet {
    padding: 30px 30px 80px;
  }

  @include onDesktop {
    padding: 40px 40px 100px;
  }
}

.contacts {
  display: flex;
  align-items: center;
}

.contactIcon {
  height: 16px;
  width: 16px;
  margin-right: 10px;

  @include onTablet {
    height: 18px;
    width: 18px;
  }

  @include onDesktop {
    height: 20px;
    width: 20px;
  }
}


.textContact {
  font-family: 'Mont', sans-serif;
  font-weight: 400;
  font-size: 14px;

  @include onTablet {
    font-size: 18px;
  }

  @include onDesktop {
    font-size: 20px;
  }
}

.main_contacts {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Mont', sans-serif;
  font-weight: 700;
  margin-inline: 190px;

  @include onTablet {
    margin-top: 70px;
    font-size: 44px;
  }

  @include onDesktop {
    margin-top: 90px;
    font-size: 54px;
  }
}

.members {
  padding-inline: 30px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  max-width: 1800px;
  min-width: 300px;
  margin-inline: auto;
  gap: 32px 32px;
  font-family: 'Mont', sans-serif;

  @include onTablet {
    grid-template-columns: repeat(auto-fill, minmax(220px, calc(50% - 32px)));
    margin-top: 45px;
    gap: 48px 32px;
  }

  @include onDesktop {
    grid-template-columns: repeat(auto-fill, minmax(220px, calc(33.33% - 32px)));
    margin-top: 60px;
    gap: 64px 32px;
  }
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  max-width: 100%;
  min-width: 200px;
  border: 1px solid $color__secondary;
  border-radius: 5%;

  @include onTablet {
    padding: 24px;
  }

  @include onDesktop {
    padding: 32px;
  }
}

.photo {
  margin-top: 7px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  @include onTablet {
    margin-top: 10px;
    height: 110px;
    width: 110px;
  }

  @include onDesktop {
    height: 125px;
    width: 125px;
  }
}

.photoMaksim {
  object-fit: cover;
}

.name {
  display: flex;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: $color__primary;
  font-weight: 600;

  @include onTablet {
    margin-top: 24px;
    font-size: 24px;
  }

  @include onDesktop {
    margin-top: 30px;
    font-size: 28px;
  }
}

.services {
  margin-top: 28px;

  @include onTablet {
    margin-top: 32px;
  }

  @include onDesktop {
    margin-top: 40px;
  }
}

.iconParams {
  border: 1px solid $color__secondary;
  border-radius: 15%;
  padding: 10px 7px 15px;
  transition: transform 0.3s ease-in-out;
  height: 40px;
  width: 40px;

  @include onTablet {
    height: 44px;
    width: 44px;
  }

  @include onDesktop {
    height: 52px;
    width: 52px;
  }

  &:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 0 0 $color__icons;
  }
}

.gmail {
  margin-right: 20px;
}

.linkedin {
  margin-right: 20px;
}

.socialMedia {
  margin-top: 20px;
  margin-bottom: 48px;
}
