@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/mixins';
@import '../../styles/blocks/grid';

.main {
  padding: 15px 15px 60px;

  @include onTablet {
    padding: 30px 30px 80px;
  }

  @include onDesktop {
    padding: 40px 40px 100px;
  }
}

.contacts {
  display: flex;
  align-items: center;
}

.contactIcon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.textContact {
  font-family: 'Mont', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $color__secondary;
}

.main_contacts {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Mont', sans-serif;
  font-weight: 700;
  margin-inline: 190px;

  @include onTablet {
    margin-top: 70px;
    font-size: 44px;
  }

  @include onDesktop {
    margin-top: 90px;
    font-size: 54px;
  }
}

.members {
  padding-inline: 30px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  max-width: 1800px;
  min-width: 300px;
  margin-inline: auto;
  gap: 32px 32px;
  font-family: 'Mont', sans-serif;

  @include onTablet {
    grid-template-columns: repeat(auto-fill, minmax(220px, calc(50% - 32px)));
    margin-top: 45px;
    gap: 48px 32px;
  }

  @include onDesktop {
    grid-template-columns: repeat(
      auto-fill,
      minmax(220px, calc(33.33% - 32px))
    );
    margin-top: 60px;
    gap: 64px 32px;
  }
}
