@import '../../App.module.scss';

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid $color__elements;
  border-radius: 8px;
  padding: 32px;
  gap: 24px;
  min-width: 288px;
  max-width: fit-content;
  margin-inline: auto;
}

.title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 8px;

  @include onTablet {
    font-size: 22px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: $color__primary;
  font-weight: 700;

  @include onTablet {
    font-size: 14px;
  }
}

.control {
  border-radius: 8px;
  border: 1px solid $color__icons;
  background-color: $color__hover-and-bg;
  padding-inline: 12px;
  min-width: 200px;
  height: 30px;
  line-height: 30px;

  @include onTablet {
    min-width: 500px;
  }

  &:hover {
    border-color: $color__secondary;
  }

  &:focus {
    border-color: $color__primary;
  }
}

.input {
  width: 100%;
  background-color: $color__hover-and-bg;

  &:focus {
    outline: none;
  }
}

.controlError {
  border-color: $color__red;
}

.detail {
  color: $color__primary;
  font-weight: 600;
}

.button {
  border-radius: 8px;
  border-color: transparent;
  background-color: $color__accent;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: white;
  padding: 4px 24px;
  height: 36px;
  cursor: pointer;

  @include onTablet {
    padding: 0 24px;
  }
}

.signup {
  color: $color__primary;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  background-color: $color__icons;
  pointer-events: none;
}

.goBackButton {
  display: flex;
  align-items: center;
  background-color: $color__hover-and-bg;
  border: none;
  gap: 4px;
  padding-right: 15px;
  flex-shrink: 0;
  cursor: pointer;
}

.goBackButtonIcon {
  display: block;
  filter: invert(4%) sepia(45%) saturate(25%) hue-rotate(202deg) brightness(0%)
    contrast(95%);
}

.goBackButtonText {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: $color__secondary;

  &:hover {
    color: $color__primary;
  }
}

.cartItemButtonClose {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  right: 20px;
  top: 20px;
}

.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  color: $color__primary;
  background-color: rgba($color: #eb5757, $alpha: .5);
  border-radius: 0.375em;
  padding: 1.25rem 1.5rem;
  min-width: 280px;
  max-width: 280px;
  margin-inline: auto;

  @include onTablet {
    max-width: 560px;
  }
}

.cartItemIconClose {
  object-fit: cover;
  margin-block: 34px;
  filter: invert(50%) sepia(1%) saturate(7423%) hue-rotate(183deg)
    brightness(81%) contrast(88%);
  cursor: pointer;

  &:hover {
    filter: invert(0%) sepia(1%) saturate(7423%) hue-rotate(183deg)
      brightness(106%) contrast(106%);
  }

  &:active {
    filter: invert(96%) sepia(1%) saturate(7423%) hue-rotate(183deg)
      brightness(81%) contrast(88%);
  }
}